*.class

*.war
*.ear
*.iml
*.ipr
*.iws
*.log
/mona-mybatisgen/src/main/resources/db.config
/mona-web/src/main/resources/properties/
/mona-web/target/
/mona-core/target/
/mona-mybatisgen/target/
/.idea/