<head>
    <style>
        .label{
            font-weight: 500;
        }
        a:link {color: blue; text-decoration:none;}
        a:active:{color: red; }
        a:visited {color:blue;text-decoration:none;}
        a:hover {color: blue; text-decoration:underline; cursor: hand}
    </style>
</head>

<body style="background-color: #ecf0f5;font-family: 'Helvitica Neue',Helvitica,Arial,'Hiragino Sans GB','Microsoft YaHei','Arial Regular','Microsoft JhengHei',sans-serif">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">我的待解决</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>反馈者</th>
                                <th>产品</th>
                                <th>标题</th>
                                <th>描述</th>
                                <th>状态</th>
                                <th>类型</th>
                                <th>最后操作时间</th>
                                <th>操作</th>
                            </tr>
                            #foreach($myError in $!{myErrorList})
                                <tr>
                                ##反馈者 真名+花名
                                    <td>$!{myError.providerRealName}($!{myError.providerFlowerName})</td>
                                ## 产品
                                    <td>$!{myError.productName}</td>
                                ## 标题
                                    <td>$!{myError.title}</td>
                                ##描述
                                    <td>$!{myError.description}</td>

                                ##异常目前的类型
                                    <td>
                                        #if($!{myError.type} == 1)##紧急状态
                                        <span class="label label-danger">
                                        #elseif($!{myError.type} == 2)
                                        <span class="label label-warning">
                                        #elseif($!{myError.type} == 3)
                                        <span class="label label-primary">
                                        #elseif($!{myError.type} == 4)
                                        <span class="label label-success">
                                        #end
                                        $!{myError.typeDesc}
                                    </span>
                                    </td>
                                ##操作时间
                                    <td style="color: red">$!{myError.statusDesc}</td>
                                ##最后修改时间
                                    <td>$!{TimeUtils.formatRelativeTime($!{myError.gmtModified})}</td>
                                    <td>
                                        <a href="/error/detail.htm?errorId=${myError.errorId}">详情</a>
                                    </td>
                                </tr>
                            #end
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">所有异常</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>反馈者</th>
                                <th>产品</th>
                                <th>标题</th>
                                <th>描述</th>
                                <th>状态</th>
                                <th>类型</th>
                                <th>最后操作时间</th>
                                <th>操作</th>
                            </tr>
                            #foreach($allError in $!{allErrorList})
                                <tr>
                                    ##反馈者 真名+花名
                                    <td>$!{allError.providerRealName}($!{allError.providerFlowerName})</td>
                                    ## 产品
                                    <td>$!{allError.productName}</td>
                                    ## 标题
                                    <td>$!{allError.title}</td>
                                    ##描述
                                    <td>$!{allError.description}</td>

                                    ##异常目前的类型
                                    <td>
                                        #if($!{allError.type} == 1)##紧急状态
                                            <span class="label label-danger">
                                        #elseif($!{allError.type} == 2)
                                            <span class="label label-warning">
                                        #elseif($!{allError.type} == 3)
                                            <span class="label label-primary">
                                        #elseif($!{allError.type} == 4)
                                            <span class="label label-success">
                                        #end
                                            $!{allError.typeDesc}
                                            </span>
                                    </td>

                                    ##操作时间
                                    <td style="color: red">$!{allError.statusDesc}</td>
                                    ##最后修改时间
                                    <td>$!{TimeUtils.formatRelativeTime($!{allError.gmtModified})}</td>
                                    <td>
                                        <a href="/error/detail.htm?errorId=${allError.errorId}">详情</a>
                                    </td>
                                </tr>
                            #end
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>