<head>
    <style>
        .label{
            font-weight: 500;
        }
    </style>
</head>

<body style="background-color: #ecf0f5;font-family: 'Helvitica Neue',Helvitica,Arial,'Hiragino Sans GB','Microsoft YaHei','Arial Regular','Microsoft JhengHei',sans-serif">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">我的异常</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>反馈者</th>
                                <th>时间</th>
                                <th>状态</th>
                                <th>描述</th>
                            </tr>
                            <tr>
                                <td>John Doe</td>
                                <td>11-7-2014</td>
                                <td><span class="label label-success">已解决</span></td>
                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">所有异常</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>反馈者</th>
                                <th>产品</th>
                                <th>标题</th>
                                <th>描述</th>
                                <th>状态</th>
                                <th>类型</th>
                                <th>最后操作时间</th>
                            </tr>
                            #foreach($allError in $!{allErrorList})
                                <tr>
                                    ##反馈者 真名+花名
                                    <td>$!{allError.userDO.realName}($!{allError.userDO.flowerName})</td>
                                    ## 产品
                                    <td></td>
                                    ## 标题
                                    <td>$!{allError.errorVO.title}</td>
                                    ##描述
                                    <td>$!{allError.errorVO.description}</td>

                                    ##异常目前的类型
                                    <td>
                                        #if($!{allError.errorVO.type} == 1)##紧急状态
                                            <span class="label label-danger">
                                        #elseif($!{allError.errorVO.type} == 2)
                                            <span class="label label-warning">
                                        #elseif($!{allError.errorVO.type} == 3)
                                            <span class="label label-primary">
                                        #elseif($!{allError.errorVO.type} == 4)
                                            <span class="label label-success">
                                        #end
                                            $!{allError.errorVO.typeDesc}
                                            </span>
                                    </td>

                                    ##操作时间
                                    <td style="color: red">$!{allError.errorVO.statusDesc}</td>
                                    ##最后修改时间
                                    <td>$!{TimeUtils.formatRelativeTime($!{allError.errorVO.gmtModified})}</td>
                                </tr>
                            #end
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>