<head>
    <style>
        .label{
            font-weight: 500;
        }
        a:link {color: blue; text-decoration:none;}
        a:active:{color: red; }
        a:visited {color:blue;text-decoration:none;}
        a:hover {color: blue; text-decoration:underline; cursor: hand}
    </style>
</head>

<body style="background-color: #ecf0f5;font-family: 'Helvitica Neue',Helvitica,Arial,'Hiragino Sans GB','Microsoft YaHei','Arial Regular','Microsoft JhengHei',sans-serif">
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">异常问题详情</h3>
                </div>
                <div class="box-body no-padding">
                        <h3>$!{errorVO.title}</h3>
                        <h5>
                            发起人：$!{errorVO.providerRealName}($!{errorVO.providerFlowerName})
                            <span class="mailbox-read-time pull-right">创建时间：$!{errorVO.relativeCreate}</span>
                        </h5>
                        $!{errorVO.description}
                        #foreach($pic in $!errorVO.pics)
                            <li>
                                <img src="$pic">
                            </li>
                        #end
                </div>
            </div>
        </div>
    </div>
</section>
</body>