<head>
    <link rel="stylesheet" href="/static/css/zoom.css" />
    <style>
        .label{
            font-weight: 500;
        }
        a:link {color: blue; text-decoration:none;}
        a:active:{color: red; }
        a:visited {color:blue;text-decoration:none;}
        a:hover {color: blue; text-decoration:underline; cursor: hand}
        span.title{
            color: red;
        }
        span.desc{
            color: darkgreen;
        }
    </style>
</head>

<body style="background-color: #ecf0f5;font-family: 'Helvitica Neue',Helvitica,Arial,'Hiragino Sans GB','Microsoft YaHei','Arial Regular','Microsoft JhengHei',sans-serif">
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">异常问题详情</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="mailbox-read-info">
                        <h3>
                            <input type="hidden" id="errorid" value="$!{errorVO.errorId}"/>
                            <small><b>问题标题：</b></small>
                            <span class="title"><u>$!{errorVO.title}</u></span>
                        </h3>
                        <br>
                        <h3>
                            <small><b>问题发起人：</b></small>
                            $!{errorVO.providerRealName}($!{errorVO.providerFlowerName})</h3>
                            <span class="mailbox-read-time pull-right">创建时间：$!{errorVO.relativeCreate}</span>
                    </div>
                    <div class="mailbox-read-info">
                        <h3>
                            <small><b>问题描述：</b></small>
                        </h3>
                        </br>
                        <h3><span class="desc">$!{errorVO.description}</span></h3>
                    </div>
                    <div class="mailbox-read-info">
                        #foreach($pic in $!errorVO.pics)
                            <img src="$pic" data-action="zoom" width="120px">
                        #end
                    </div>
                </div>
                <div class="box-footer" id = "footer">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <ul class="timeline">
            #foreach($errorRecordVO in $!errorRecordVOs)
                <li>
                    <i class="fa fa-comment bg-blue"></i>
                    <div class="timeline-item">
                    <span class="time">
                         <i class="fa fa-clock-o"></i>
                         $errorRecordVO.relativeCreate
                    </span>
                        <h3 class="timeline-header">
                            操作者：$errorRecordVO.operatorFlowerName
                        </h3>
                        <div class="timeline-body">
                            $errorRecordVO.operationTypeDesc
                        </div>
                        <div class="timeline-footer">
                            $!errorRecordVO.memo
                        </div>
                    </div>
                </li>
            #end
        </ul>
    </div>
</section>
</body>
<script src="/static/js/zoom.min.js"></script>
<script src="/static/js/errorjs/getOp.js"></script>
