<body style="background-color: #ecf0f5;font-family: 'Helvitica Neue',Helvitica,Arial,'Hiragino Sans GB','Microsoft YaHei','Arial Regular','Microsoft JhengHei',sans-serif">
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        团队信息编辑
                    </h3>
                    <a href="/team/addTeam.htm"><button class="pull-right btn btn-success btn-sm"><i class="fa  fa-plus"></i> 添加团队</button></a>
                </div>
                <div class="box-body">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>团队名称</th>
                            <th>团队描述</th>
                            <th>负责产品</th>
                            <th>leader</th>
                            <th>操作</th>
                        </tr>
                            #set($count = 1)
                            #foreach($team in $!{teamList})
                            <tr>
                                <td>$!team.teamName</td>
                                <td>$!team.teamDec</td>
                                <td>null</td>
                                <td>$!team.leaderName</td>
                                <td>修改 删除</td>
                                #set($count = $count+1)
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li>
                            <a href="#">1</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
