<head>
    <style>
        a:link {color: blue; text-decoration:none;}
        a:active:{color: red; }
        a:visited {color:blue;text-decoration:none;}
        a:hover {color: blue; text-decoration:underline; cursor: hand}
    </style>
</head>
<body style="background-color: #ecf0f5;font-family: 'Helvitica Neue',Helvitica,Arial,'Hiragino Sans GB','Microsoft YaHei','Arial Regular','Microsoft JhengHei',sans-serif">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            产品应用信息
                        </h3>
                        <button class="pull-right btn btn-success btn-sm"><i class="fa  fa-plus"></i> 添加</button>
                    </div>
                    <div class="box-body">
                        <table class="table table-condensed">
                            <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>产品名称</th>
                                <th>产品描述</th>
                                <th>负责团队</th>
                                <th>操作</th>
                            </tr>
                            #set($count = 1)
                            #foreach($product in $!{productList})
                            <tr>
                                <td>$count</td>
                                <td>$!product.productName</td>
                                <td>$!product.productDesc</td>
                                <td>$!product.teamName</td>
                                <td>
                                    <a href="#">删除</a>
                                    <a href="#">编辑</a>
                                </td>
                                #set($count = $count+1)
                            </tr>
                            #end
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li>
                                <a href="#">1</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
