<body class="hold-transition skin-purple sidebar-mini" style="font-family: 'Helvitica Neue',Helvitica,Arial,'Hiragino Sans GB','Microsoft YaHei','Arial Regular','Microsoft JhengHei',sans-serif">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="index.htm" target="frame" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>消防</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><i class="ion ion-ios-medkit"></i> 卖好车消防平台</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有10条新的提醒</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                            page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看所有新的提醒</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你当前有9条新的任务</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Create a nice theme
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Some task I need to do
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Make beautiful transitions
                                                <small class="pull-right">80%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="height: 50px">
                            #if(!$!{result.userInfoForm.headImg})##如果后台数据用户没有头像
                                    <img src="/static/img/default_head.jpg" class="user-image" alt="User Image">
                            #else
                                    <img src="$!{result.userInfoForm.headImg}"  class="user-image" alt="User Image">
                            #end
                            <span class="hidden-xs"></span>
                        </a>
##                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
##                            <img src="/static/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
##                            <span class="hidden-xs"></span>
##                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
##                                <img src="/static/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                #if(!$!{result.userInfoForm.headImg})##如果后台数据用户没有头像
                                    <img src="/static/img/default_head.jpg" class="img-circle" alt="User Image">
                                #else
                                    <img src="$!{result.userInfoForm.headImg}"  class="img-circle" alt="User Image">
                                #end
                                <p>
                                    $!{result.userInfoForm.FlowerName}
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">部门</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">项目</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的任务</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/user/edit/userInfoEdit.htm" target="frame" class="btn btn-default btn-flat">信息修改</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">登出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
##                    <!-- Control Sidebar Toggle Button -->
##                    <li>
##                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
##                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    #if(!$!{result.userInfoForm.headImg})##如果后台数据用户没有头像
                        <img src="/static/img/default_head.jpg"  class="img-circle" alt="User Image">
                    #else
                        <img src="$!{result.userInfoForm.headImg}" class="img-circle" alt="User Image">
                    #end
##                    <img src="/static/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>$!{result.userInfoForm.flowerName}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="搜索...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">主导航栏</li>
                <li class=" treeview">
                    <a href="/user/edit/userInfoEdit.htm" target="frame">
                        <i class="fa fa-user"></i> <span>个人信息</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-warning"></i>
                        <span>系统异常</span>
                        <span class="pull-right-container">
                          <span class="label pull-right bg-red">4</span>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/error/businessErrorList.htm" target="frame"><i class="fa fa-cloud"></i> 线上异常</a></li>
                        <li><a href="#"><i class="fa fa-times-circle"></i> 业务异常</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-file-text-o"></i> <span>消防日志</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa  fa-line-chart"></i>
                        <span>消防报表</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#" target="frame"><i class="fa fa-circle-o"></i> 周度报表</a></li>
                        <li><a href="#" target="frame"><i class="fa fa-moon-o"></i> 月度报表</a></li>
                        <li><a href="#" target="frame"><i class="fa fa-calendar"></i> 季度报表</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa  fa-question-circle"></i>
                        <span>问答平台</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="qa/questionList.htm" target="frame"><i class="fa fa-circle-o"></i> 常见问题</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 技术&业务相关</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>项目管理</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/product/list.htm" target="frame"><i class="fa  fa-product-hunt"></i>产品编辑</a></li>
                        <li><a href="/department/departmentList.htm" target="frame"><i class="fa fa-user-o"></i>部门/人员管理</a></li>
                        <li><a href="/team/teamList.htm" target="frame"><i class="fa fa-group"></i>团队管理</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="height:16px">
        <iframe src="index.htm"  style="display: bloc;height:100%;width:100%"  frameborder="no" border="0" scrolling="no" name="frame" id="frames"></iframe>
    </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

</body>
