#set($layout="")
#set($class_1="")
#set($class_2="")
#set($class_3="")

#set($page_no = $!{page})
#if($page_no == 1)
    #set($class_1 = "active")
#elseif($page_no == 2)
    #set($class_2 = "active")
#elseif($page_no == 3)
    #set($class_3 = "active")
#end

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>技术消防</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
##    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/static/css/sm.min.css">
    <link rel="stylesheet" href="/static/css/sm-extend.min.css">
    <link rel="stylesheet" href="/static/weui/weui.min.css">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
    <script type='text/javascript' src='/static/js/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/sui/js/zepto-touch.js'></script>

</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <nav class="bar bar-tab">
                <a class="tab-item external $class_1" href="/mobileError/mobileCreateError.htm">
                    <span class="icon icon-edit"></span>
                    <span class="tab-label">问题发布</span>
                </a>
                <a  class="tab-item external $class_2" href="/mobileError/mobileErrorList.htm">
                    <span class="icon  icon-clock"></span>
                    <span class="tab-label">我的问题</span>
                </a>
                <a  class="tab-item external $class_3" href="/mobileQuestion/mobileQuestionShowList.htm">
                    <span class="icon icon-star"></span>
                    <span class="tab-label">常见问题</span>
                </a>
            </nav>
            <div class="content">
                $screen_content
            </div>
            <div class="modal-overlay">
            ##        提示框模板
            </div>
            <div class="popup-overlay">
            ##        提示框模板
            </div>

            ##-----------------评价popup---------------
            <div class="popup popup-confirm">
                <div class="page-group">
                    <header class="bar bar-nav">
                        <button class="button pull-left close-popup">
                            关闭
                        </button>
                        <h1 class="title">请评价</h1>
                    </header>
                    <div class="content">
                        <div class="content-block">
                            <div class="row">
                                <div class="content-block-title" style="margin-top: 0.75rem">*请评分</div>
                                <div class="col-20">
                                    <a href="#" class="button star" id="1">1星</a>
                                </div>
                                <div class="col-20">
                                    <a href="#" class="button star" id="2">2星</a>
                                </div>
                                <div class="col-20">
                                    <a href="#" class="button star" id="3">3星</a>
                                </div>
                                <div class="col-20">
                                    <a href="#" class="button star" id="4">4星</a>
                                </div>
                                <div class="col-20">
                                    <a href="#" class="button star" id="5">5星</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="content-block-title">点赞或吐槽（非必填项）</div>
                                <div class="col-100" >
                                    <div class="list-block" style="margin: 0rem 0rem 2rem 0rem">
                                        <ul>
                                            <li class="align-top">
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <textarea id="comt_memo"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-100">
                                    <a href="#" class="button button-big button-fill button-success" id="comt_submit">提交</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup popup-reject">
                <div class="page-group">
                    <header class="bar bar-nav">
                        <button class="button pull-left close-popup">
                            关闭
                        </button>
                        <h1 class="title">填写驳回原因</h1>
                    </header>
                    <div class="content">
                        <div class="content-block">
                            <div class="row">
                                <div class="content-block-title">*驳回原因说明</div>
                                <div class="col-100" >
                                    <div class="list-block" style="margin: 0rem 0rem 2rem 0rem">
                                        <ul>
                                            <li class="align-top">
                                                <div class="item-content">
                                                    <div class="item-inner">
                                                        <div class="item-input">
                                                            <textarea id="reject_memo"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-100">
                                    <a href="#" class="button button-big button-fill button-danger" id="reject_submit">驳回</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type='text/javascript' src='/static/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/static/js/sm-extend.min.js' charset='utf-8'></script>
<script type="text/javascript" src="/static/js/errorjs/submitErrorForm.js" ></script>
<script type="text/javascript" src="/static/js/errorjs/mobile/imgView.js"></script>
<script type="text/javascript" src="/static/js/errorjs/mobile/mobileErrorOp.js"></script>
<script>$.init()</script>
</html>