<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangyang.dao.QuestionShowMapper">

    <resultMap id="BaseResultMap" type="com.xiangyang.model.QuestionShowDO">
        <id column="question_id" jdbcType="BIGINT" property="questionId" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="question_title" jdbcType="VARCHAR" property="questionTitle" />
        <result column="question_author_id" jdbcType="BIGINT" property="questionAuthorId" />
        <result column="question_description" jdbcType="VARCHAR" property="questionDescription" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="question_level" jdbcType="INTEGER" property="questionLevel" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Query_Where_Clause">
        <where>
            <foreach collection="query.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        question_id,gmt_create,gmt_modified,question_title,question_author_id,question_description,product_id,question_level
    </sql>

    <select id="selectByQuery" parameterType="com.xiangyang.query.QuestionShowQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from mona_question_show
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from mona_question_show where question_id = #{questionId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mona_question_show where question_id = #{questionId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByQuery" parameterType="com.xiangyang.query.QuestionShowQuery">
        delete from mona_question_show
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </delete>

    <insert id="insertSelective" parameterType="com.xiangyang.model.QuestionShowDO">
        <selectKey keyProperty="questionId" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into mona_question_show
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="questionTitle != null">
                question_title,
            </if>
            <if test="questionAuthorId != null">
                question_author_id,
            </if>
            <if test="questionDescription != null">
                question_description,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="questionLevel != null">
                question_level,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="questionTitle != null">
                #{questionTitle,jdbcType=VARCHAR},
            </if>
            <if test="questionAuthorId != null">
                #{questionAuthorId,jdbcType=BIGINT},
            </if>
            <if test="questionDescription != null">
                #{questionDescription,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="questionLevel != null">
                #{questionLevel,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.xiangyang.query.QuestionShowQuery" resultType="java.lang.Integer">
        select count(*) from mona_question_show
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByQuerySelective" parameterType="map">
        update mona_question_show
        <set>
            gmt_modified=now(),
            <if test="record.questionTitle != null">
                question_title = #{record.questionTitle,jdbcType=VARCHAR},
            </if>
            <if test="record.questionAuthorId != null">
                question_author_id = #{record.questionAuthorId,jdbcType=BIGINT},
            </if>
            <if test="record.questionDescription != null">
                question_description = #{record.questionDescription,jdbcType=VARCHAR},
            </if>
            <if test="record.productId != null">
                product_id = #{record.productId,jdbcType=BIGINT},
            </if>
            <if test="record.questionLevel != null">
                question_level = #{record.questionLevel,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByQuery" parameterType="map">
        update mona_question_show
        question_title = #{record.questionTitle,jdbcType=VARCHAR},
        question_author_id = #{record.questionAuthorId,jdbcType=BIGINT},
        question_description = #{record.questionDescription,jdbcType=VARCHAR},
        product_id = #{record.productId,jdbcType=BIGINT},
        question_level = #{record.questionLevel,jdbcType=INTEGER},
        gmt_modified = now()
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.xiangyang.model.QuestionShowDO">
        update mona_question_show
        <set>
            gmt_modified=now(),
            <if test="questionTitle != null">
                question_title = #{questionTitle,jdbcType=VARCHAR},
            </if>
            <if test="questionAuthorId != null">
                question_author_id = #{questionAuthorId,jdbcType=BIGINT},
            </if>
            <if test="questionDescription != null">
                question_description = #{questionDescription,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="questionLevel != null">
                question_level = #{questionLevel,jdbcType=INTEGER},
            </if>
        </set>
        where question_id = #{questionId,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
