#set($layout="common-moblie.vm")
<div class="content-block-title" style="margin-top: 0.75rem">问题基本信息</div>
<div class="list-block">
    <input type="hidden" value="$!{errorVO.errorId}" id="errorid"/>
    <ul>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">标题</div>
                <div class="item-after">「$!{errorVO.title}」</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">产品名称</div>
                <div class="item-after">$!{errorVO.productName}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">类型</div>
                <div class="item-after">$!{errorVO.typeDesc}</div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title">问题当前状态</div>
                <div class="item-after">
                    #if($!{errorVO.status} == 7)
                    <i class="fa fa-window-close" style="color:red" aria-hidden="true">
                        <small>$!{errorVO.statusDesc}</small>
                    </i>
                    #elseif($!{errorVO.status} == 6)
                    <i class="fa fa-check-circle" style="color:green" aria-hidden="true">
                        <small>$!{errorVO.statusDesc}</small>
                    </i>
                    #elseif($!{errorVO.status} == 3)
                    <i class="fa  fa-question-circle" style="color:#0a8ddf" aria-hidden="true">
                        <small>$!{errorVO.statusDesc}</small>
                    </i>
                    <a href="#" class="button create-actions" style="margin-top: -0.2rem;margin-left: 0.2rem">操作</a>
                    #else
                    <i class="fa fa-spinner" style="color:orange" aria-hidden="true">
                        <small>$!{errorVO.statusDesc}</small>
                    </i>
                    #end
                </div>
            </div>
        </li>
##    </ul>
##
##    <div class="list-block">
##        <ul>
        #if($!{errorVO.pics.size()} != 0)
            <li class="item-content">
                <div class="item-inner">
                    <div class="item-title">截图</div>
                </div>
            </li>
            <div class="content-padded grid-demo">
                <div class="row" id="imgList">
                    #foreach($pic in $!errorVO.pics)
                        <div class="col-25">
                            <img src="$pic" class="pb-popup" width="100%">
                        </div>
                    #end
                </div>
            </div>
        #end
    </ul>
</div>
<div class="content-block-title" style="margin-top: 0.75rem">解决进度信息</div>

#if($!{errorRecordVOs.size()} != 0)
<div class="list-block">
    #foreach($errorRecordVO in $!errorRecordVOs)
    <ul>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title"><small>$!{errorRecordVO.operationTypeDesc}</small></div>
                <div class="item-after"><small>$!{errorRecordVO.relativeCreate}</small></div>
            </div>
        </li>
    </ul>
    #end
</div>
#end