#set($layout="common-moblie.vm")
<head>
    <style>
        .content-block{
            padding: 0rem;
            margin: 0.75rem 0;
        }
    </style>
</head>
<div  id="contents" style="padding:0">
    <div class="buttons-tab">
        <a href="#tab1"  class="tab-link active button">解决中</a>
        <a href="#tab2"  class="tab-link button">已解决</a>
    </div>

    <div class="content-block">
        <div class="tabs">
            <div id="tab1" class="tab active" >
                <div class="content-block" id="wait_solve" >
                </div>
            </div>
            <div id="tab2" class="tab"  >
                <div class="content-block" id="has_over">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/errorjs/mobile/moblieInit.js"></script>
